.banner img{
    width: 100%;
}
.banner h1{
    color: white;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: calc(50% - 30px);
    left: calc(50% - 350px);
    font-size: 60px;
    font-weight: lighter;
}
.card{
    width: 100%;
}
.card ul{
    padding: 0;
    text-align: center;
}
.card li{
    width: 250px;
    height: 270px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}
.card img{
    margin: 30px;
    width: 20%;
}
.card p{
    width: 70%;
    margin: auto;
}
#card1{
    background-image: url(../img/img1-saude.png);
}
#card2{
    background-image: url(../img/img2-saude.png);
}
#card3{
    background-image: url(../img/img3-saude.png);
}
#card4{
    background-image: url(../img/img4-saude.png);
}
.locais{
    text-align: center;
    margin: 40px 0 30px 0;
}
.locais iframe{
    width: 70vw;
}
.locais h2{
    font-weight: 300;
    font-size: 2em;
}